<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.binarySource</key>
	<string>/Users/torypeterschild/Downloads/glyphter-font/fonts/toadie.woff</string>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/torypeterschild/Documents/repositories/the-cartoonist/js/css/fonts/toadie_newc.ttf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>qcurve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>glyph00001</string>
				<string>glyph00002</string>
				<string>glyph00003</string>
				<string>glyph00004</string>
				<string>glyph00005</string>
				<string>glyph00006</string>
				<string>glyph00007</string>
				<string>glyph00008</string>
				<string>glyph00009</string>
				<string>glyph00010</string>
				<string>glyph00011</string>
				<string>glyph00012</string>
				<string>glyph00013</string>
				<string>glyph00014</string>
				<string>glyph00015</string>
				<string>glyph00016</string>
				<string>glyph00017</string>
				<string>glyph00018</string>
				<string>glyph00019</string>
				<string>glyph00020</string>
				<string>glyph00021</string>
				<string>glyph00022</string>
				<string>glyph00023</string>
				<string>glyph00024</string>
				<string>glyph00025</string>
				<string>glyph00026</string>
				<string>glyph00027</string>
				<string>glyph00028</string>
				<string>glyph00029</string>
				<string>glyph00030</string>
				<string>glyph00031</string>
				<string>glyph00032</string>
				<string>glyph00033</string>
				<string>glyph00034</string>
				<string>glyph00035</string>
				<string>glyph00036</string>
				<string>glyph00037</string>
				<string>glyph00038</string>
				<string>glyph00039</string>
				<string>glyph00040</string>
				<string>glyph00041</string>
				<string>glyph00042</string>
				<string>glyph00043</string>
				<string>glyph00044</string>
				<string>glyph00045</string>
				<string>glyph00046</string>
				<string>glyph00047</string>
				<string>glyph00048</string>
				<string>glyph00049</string>
				<string>glyph00050</string>
				<string>glyph00051</string>
				<string>glyph00052</string>
				<string>glyph00053</string>
				<string>glyph00054</string>
				<string>glyph00055</string>
				<string>glyph00056</string>
				<string>glyph00057</string>
				<string>glyph00058</string>
				<string>glyph00059</string>
				<string>glyph00060</string>
				<string>glyph00061</string>
				<string>glyph00062</string>
				<string>glyph00063</string>
				<string>glyph00064</string>
				<string>glyph00065</string>
				<string>glyph00066</string>
				<string>glyph00067</string>
				<string>glyph00068</string>
				<string>glyph00069</string>
				<string>glyph00070</string>
				<string>glyph00071</string>
				<string>glyph00072</string>
				<string>glyph00073</string>
				<string>glyph00074</string>
				<string>glyph00075</string>
				<string>glyph00076</string>
				<string>glyph00077</string>
				<string>glyph00078</string>
				<string>glyph00079</string>
				<string>glyph00080</string>
				<string>glyph00081</string>
				<string>glyph00082</string>
				<string>glyph00083</string>
				<string>glyph00084</string>
				<string>glyph00085</string>
				<string>glyph00086</string>
				<string>glyph00087</string>
				<string>glyph00088</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>glyph00001</string>
		<string>glyph00002</string>
		<string>glyph00003</string>
		<string>glyph00004</string>
		<string>glyph00005</string>
		<string>glyph00006</string>
		<string>glyph00007</string>
		<string>glyph00008</string>
		<string>glyph00009</string>
		<string>glyph00010</string>
		<string>glyph00011</string>
		<string>glyph00012</string>
		<string>glyph00013</string>
		<string>glyph00014</string>
		<string>glyph00015</string>
		<string>glyph00016</string>
		<string>glyph00017</string>
		<string>glyph00018</string>
		<string>glyph00019</string>
		<string>glyph00020</string>
		<string>glyph00021</string>
		<string>glyph00022</string>
		<string>glyph00023</string>
		<string>glyph00024</string>
		<string>glyph00025</string>
		<string>glyph00026</string>
		<string>glyph00027</string>
		<string>glyph00028</string>
		<string>glyph00029</string>
		<string>glyph00030</string>
		<string>glyph00031</string>
		<string>glyph00032</string>
		<string>glyph00033</string>
		<string>glyph00034</string>
		<string>glyph00035</string>
		<string>glyph00036</string>
		<string>glyph00037</string>
		<string>glyph00038</string>
		<string>glyph00039</string>
		<string>glyph00040</string>
		<string>glyph00041</string>
		<string>glyph00042</string>
		<string>glyph00043</string>
		<string>glyph00044</string>
		<string>glyph00045</string>
		<string>glyph00046</string>
		<string>glyph00047</string>
		<string>glyph00048</string>
		<string>glyph00049</string>
		<string>glyph00050</string>
		<string>glyph00051</string>
		<string>glyph00052</string>
		<string>glyph00053</string>
		<string>glyph00054</string>
		<string>glyph00055</string>
		<string>glyph00056</string>
		<string>glyph00057</string>
		<string>glyph00058</string>
		<string>glyph00059</string>
		<string>glyph00060</string>
		<string>glyph00061</string>
		<string>glyph00062</string>
		<string>glyph00063</string>
		<string>glyph00064</string>
		<string>glyph00065</string>
		<string>glyph00066</string>
		<string>glyph00067</string>
		<string>glyph00068</string>
		<string>glyph00069</string>
		<string>glyph00070</string>
		<string>glyph00071</string>
		<string>glyph00072</string>
		<string>glyph00073</string>
		<string>glyph00074</string>
		<string>glyph00075</string>
		<string>glyph00076</string>
		<string>glyph00077</string>
		<string>glyph00078</string>
		<string>glyph00079</string>
		<string>glyph00080</string>
		<string>glyph00081</string>
		<string>glyph00082</string>
		<string>glyph00083</string>
		<string>glyph00084</string>
		<string>glyph00085</string>
		<string>glyph00086</string>
		<string>glyph00087</string>
		<string>glyph00088</string>
	</array>
</dict>
</plist>
