app/static/js/jquery-3.0.0.min.js linguist-vendored
app/static/js/bootstrap.min.js linguist-vendored
app/static/css/bootstrap.min.css linguist-vendored
app/static/css/bootstrap.css linguist-vendored
app/static/css/jumbotron-narrow.css linguist-vendored
app/static/css/bootstrap-theme.min.css linguist-vendored
app/static/css/bootstrap-theme.css linguist-vendored
app/static/js/Snap.svg-0.4.1/* linguist-vendored
app/static/corpus000.txt linguist-documentation