@font-face { 
    font-family: toadie; 
    src: url('fonts/toadie.ttf'); 
}

body,
div {
    padding: 0;
    margin: 0;
    background: #FFF;
}

.svg-container svg {
    max-width: 100%;
    max-height: 100%;
    transform: scale(0.60);
    display: block;
}

.text-container {
    display: block;
    padding: 15px;
}

.text-container svg {
    font-family: toadie, sans-serf;
    max-width: 100%;
    max-height: 100%;
    width: 40px;
    height: 100px;
    transform: scale(0.50);
    padding: auto;
    display: inline-block;
}

button {
    background-color: white;
    border: solid 2px #212121;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

/*#gencap {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/