@font-face { 
    font-family: 'toadie'; 
    src: url('/static/fonts/toadie-is.ttf'); 
}

body {
    font-family: 'toadie';
    font-size: 25pt;
    padding: 10px;
    margin: 10px;
    background: #FFF;
    max-height: 100%;
    max-width: 100%;
    overflow: visible;
}

body a {
    margin: 10px;
    font-size: 12pt;
    text-decoration: none;
}

h1 {
    font-size: 30pt;
    margin: 10px;
    padding-bottom: 5px;
}

svg {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    padding: 0;
    transform: scale(0.60);
    display: inline;
}

form p {
    padding: 5px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
}

form input[type=text] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #afafaf;
    border:1px solid #ccc;
    font-size: 12pt;
    background-color: white;
    -webkit-border-radius: 5px;
}

form input[type=submit] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #212121;
    padding: 5px 5px 5px 5px;
    font-size: 10pt;
    background-color: #ccc;
    border: 0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

img {
    float: left;
    margin-left: 1em;
    border: 0 none;
    display: none;
}

#drawing {
    padding: 0;
    margin: 0;
    max-height: 50%;
    max-width: 50%;
}

#drawing svg {
    margin: 0;
    padding: 0;
    overflow: visible;
}

#savetest {
    margin-top: 60px;
    display: inline-block;
}

#face {
    height: 500px;
    overflow: visible;
}

#face svg {
    margin-left: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.50);
    display: inline;
    overflow: visible;
}

#menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    margin: 10px;
}

#caption, #save, #captionsave {
    display: none;
}


