
@font-face { 
    font-family: 'toadie'; 
    src: url('/static/fonts/toadie-is.ttf'); 
}

body {
    font-family: 'toadie';
    font-size: 25pt;
    padding: 10px;
    margin: 10px;
    background: white;
    max-height: 100%;
    max-width: 100%;
    overflow: visible;
}

button {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    color: #afafaf;
}

section {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
}

section a {
    position: relative;
    display: inline;
    outline: none;
    color: #212121;
    vertical-align: text-bottom;
    text-decoration: none;
    white-space: nowrap;
}

section a::before,
section a::after {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.link-braces a {
    color: #afafaf;
    padding: 0 0.35em;
    font-weight: 500;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.link-braces a:hover {
    color: #1e3faf;
}

.link-braces a::before,
.link-braces a::after {
    position: absolute;
    top: 0;
    font-weight: 500;
    font-size: 120%;
    line-height: 1;
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}

.link-braces a::before {
    left: -0.1em;
    content: '[';
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.link-braces a::after {
    right: -0.1em;
    content: ']';
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.link-braces a:hover::before,
.link-braces a:hover::after {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

h1 {
    font-size: 25pt;
    margin: 10px;
    padding-bottom: 5px;
    display: inline-block;
}

svg {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    padding: 0;
    display: inline;
    opacity: 1;
}

form p {
    padding: 5px;
    margin: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

form input[type=text] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #afafaf;
    border:1px solid #ccc;
    font-size: 10pt;
    background-color: white;
    -webkit-border-radius: 5px;
}

form input[type=submit] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #212121;
    padding: 5px 5px 5px 5px;
    font-size: 10pt;
    background-color: #ccc;
    border: 0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#save-with-post p {
    margin-top: -30px;
    /*display: none;*/
    align-content: right !important;
    text-align: right!important;
    float: right !important;
    margin-right: 50px !important;
}

#savecartoon {
    align-content: right;
}

#menu {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
    margin: 20px;
    display: inline;
    overflow: visible;
}

#caption, #save, #captionsave {
    display: none;
}

#pythonSVGWRITE {
    height: 500px;
    display: block;
}

#pythonSVGWRITE svg {
    overflow: visible;
    display: block;
}

