
@font-face { 
    font-family: 'toadie'; 
    src: url('/static/fonts/toadie-is.ttf'); 
}

body {
    font-family: 'toadie';
    font-size: 25pt;
    padding: 10px;
    margin: 10px;
    background: white;
    max-height: 100%;
    max-width: 100%;
    overflow: visible;
}

section {
    position: relative;
    /*z-index: 1;  needed for setting pseudo-element z-index */
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

section a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #212121;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
}

section a::before,
section a::after {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.link-braces a {
    padding: 0 0.35em;
    /*font-weight: 500;*/
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.link-braces a:hover {
    color: #9c9a9b;
}

.link-braces a::before,
.link-braces a::after {
    position: absolute;
    top: 0;
    font-weight: 100;
    font-size: 120%;
    line-height: 1;
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}

.link-braces a::before {
    left: -0.1em;
    content: '[';
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.link-braces a::after {
    right: -0.1em;
    content: ']';
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.link-braces a:hover::before,
.link-braces a:hover::after {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

h1 {
    font-size: 30pt;
    margin: 10px;
    padding-bottom: 5px;
}

svg {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    padding: 0;
    /*    transform: scale(0.60);*/
    display: inline;
    opacity: 1;
}

form p {
    padding: 5px;
    margin: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

form input[type=text] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #afafaf;
    border:1px solid #ccc;
    font-size: 10pt;
    background-color: white;
    -webkit-border-radius: 5px;
}

form input[type=submit] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #212121;
    padding: 5px 5px 5px 5px;
    font-size: 10pt;
    background-color: #ccc;
    border: 0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

img {
    float: left;
    margin-left: 1em;
    border: 0 none;
    display: none;
}

#drawing {
    display: none;
    height: 500px;
    overflow: visible;
}

#drawing svg {
    margin-left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    display: inline;
    overflow: visible;
    transform: scale(0.50);
}

#savetest p {
    margin-top: -30px;
    display: none;
    align-content: right !important;
    text-align: right!important;
    float: right !important;
    margin-right: 50px !important;
}

#savecartoon {
    align-content: right;
}

#facedrawing {
    height: 500px;
    overflow: visible;
}

#facedrawing svg {
    margin-left: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline;
    overflow: visible;
    transform: scale(0.50);
}

#menu {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    margin: 20px;
    display: inline-block;
    overflow: visible;
}

#caption, #save, #captionsave {
    display: none;
}

/*.button-container ul{
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}*/


ul li{
    color: #212121;
    display: inline;
    position: relative;
    float: left;
    border-bottom: none;
}

ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

ul li label{
    opacity: 0.2;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    padding: 15px 25px 25px 40px;
    margin: 10px auto;
    height: 15px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

ul li:hover label{
    color: #00d2c8;
    opacity: 1;
}

ul li .check{
    opacity: 0.2;
    display: block;
    position: absolute;
    border: 3px solid #00d2c8;
    border-radius: 100%;
    height: 3px;
    width: 3px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .check {
    border: 5px solid #00d2c8;
    opacity: 1;
}

ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 3px;
    width: 3px;
    top: 0px;
    left: 0px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 3px solid #00d2c8;
    opacity: 1;
}

input[type=radio]:checked ~ .check::before{
    background: #afafaf;
}

input[type=radio]:checked ~ label{
    color: #00d2c8;
    opacity: 1;
}

.hidden {
    display:none;
}

#pythonSVG svg {
    overflow: visible;
}

#pythonSVGWRITE svg {
    overflow: visible;
    display: block;
}

#pythonSVGWRITE {
    height: 500px;
    display: block;
}

