<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>glyph00001</key>
	<string>glyph00001.glif</string>
	<key>glyph00002</key>
	<string>glyph00002.glif</string>
	<key>glyph00003</key>
	<string>glyph00003.glif</string>
	<key>glyph00004</key>
	<string>glyph00004.glif</string>
	<key>glyph00005</key>
	<string>glyph00005.glif</string>
	<key>glyph00006</key>
	<string>glyph00006.glif</string>
	<key>glyph00007</key>
	<string>glyph00007.glif</string>
	<key>glyph00008</key>
	<string>glyph00008.glif</string>
	<key>glyph00009</key>
	<string>glyph00009.glif</string>
	<key>glyph00010</key>
	<string>glyph00010.glif</string>
	<key>glyph00011</key>
	<string>glyph00011.glif</string>
	<key>glyph00012</key>
	<string>glyph00012.glif</string>
	<key>glyph00013</key>
	<string>glyph00013.glif</string>
	<key>glyph00014</key>
	<string>glyph00014.glif</string>
	<key>glyph00015</key>
	<string>glyph00015.glif</string>
	<key>glyph00016</key>
	<string>glyph00016.glif</string>
	<key>glyph00017</key>
	<string>glyph00017.glif</string>
	<key>glyph00018</key>
	<string>glyph00018.glif</string>
	<key>glyph00019</key>
	<string>glyph00019.glif</string>
	<key>glyph00020</key>
	<string>glyph00020.glif</string>
	<key>glyph00021</key>
	<string>glyph00021.glif</string>
	<key>glyph00022</key>
	<string>glyph00022.glif</string>
	<key>glyph00023</key>
	<string>glyph00023.glif</string>
	<key>glyph00024</key>
	<string>glyph00024.glif</string>
	<key>glyph00025</key>
	<string>glyph00025.glif</string>
	<key>glyph00026</key>
	<string>glyph00026.glif</string>
	<key>glyph00027</key>
	<string>glyph00027.glif</string>
	<key>glyph00028</key>
	<string>glyph00028.glif</string>
	<key>glyph00029</key>
	<string>glyph00029.glif</string>
	<key>glyph00030</key>
	<string>glyph00030.glif</string>
	<key>glyph00031</key>
	<string>glyph00031.glif</string>
	<key>glyph00032</key>
	<string>glyph00032.glif</string>
	<key>glyph00033</key>
	<string>glyph00033.glif</string>
	<key>glyph00034</key>
	<string>glyph00034.glif</string>
	<key>glyph00035</key>
	<string>glyph00035.glif</string>
	<key>glyph00036</key>
	<string>glyph00036.glif</string>
	<key>glyph00037</key>
	<string>glyph00037.glif</string>
	<key>glyph00038</key>
	<string>glyph00038.glif</string>
	<key>glyph00039</key>
	<string>glyph00039.glif</string>
	<key>glyph00040</key>
	<string>glyph00040.glif</string>
	<key>glyph00041</key>
	<string>glyph00041.glif</string>
	<key>glyph00042</key>
	<string>glyph00042.glif</string>
	<key>glyph00043</key>
	<string>glyph00043.glif</string>
	<key>glyph00044</key>
	<string>glyph00044.glif</string>
	<key>glyph00045</key>
	<string>glyph00045.glif</string>
	<key>glyph00046</key>
	<string>glyph00046.glif</string>
	<key>glyph00047</key>
	<string>glyph00047.glif</string>
	<key>glyph00048</key>
	<string>glyph00048.glif</string>
	<key>glyph00049</key>
	<string>glyph00049.glif</string>
	<key>glyph00050</key>
	<string>glyph00050.glif</string>
	<key>glyph00051</key>
	<string>glyph00051.glif</string>
	<key>glyph00052</key>
	<string>glyph00052.glif</string>
	<key>glyph00053</key>
	<string>glyph00053.glif</string>
	<key>glyph00054</key>
	<string>glyph00054.glif</string>
	<key>glyph00055</key>
	<string>glyph00055.glif</string>
	<key>glyph00056</key>
	<string>glyph00056.glif</string>
	<key>glyph00057</key>
	<string>glyph00057.glif</string>
	<key>glyph00058</key>
	<string>glyph00058.glif</string>
	<key>glyph00059</key>
	<string>glyph00059.glif</string>
	<key>glyph00060</key>
	<string>glyph00060.glif</string>
	<key>glyph00061</key>
	<string>glyph00061.glif</string>
	<key>glyph00062</key>
	<string>glyph00062.glif</string>
	<key>glyph00063</key>
	<string>glyph00063.glif</string>
	<key>glyph00064</key>
	<string>glyph00064.glif</string>
	<key>glyph00065</key>
	<string>glyph00065.glif</string>
	<key>glyph00066</key>
	<string>glyph00066.glif</string>
	<key>glyph00067</key>
	<string>glyph00067.glif</string>
	<key>glyph00068</key>
	<string>glyph00068.glif</string>
	<key>glyph00069</key>
	<string>glyph00069.glif</string>
	<key>glyph00070</key>
	<string>glyph00070.glif</string>
	<key>glyph00071</key>
	<string>glyph00071.glif</string>
	<key>glyph00072</key>
	<string>glyph00072.glif</string>
	<key>glyph00073</key>
	<string>glyph00073.glif</string>
	<key>glyph00074</key>
	<string>glyph00074.glif</string>
	<key>glyph00075</key>
	<string>glyph00075.glif</string>
	<key>glyph00076</key>
	<string>glyph00076.glif</string>
	<key>glyph00077</key>
	<string>glyph00077.glif</string>
	<key>glyph00078</key>
	<string>glyph00078.glif</string>
	<key>glyph00079</key>
	<string>glyph00079.glif</string>
	<key>glyph00080</key>
	<string>glyph00080.glif</string>
	<key>glyph00081</key>
	<string>glyph00081.glif</string>
	<key>glyph00082</key>
	<string>glyph00082.glif</string>
	<key>glyph00083</key>
	<string>glyph00083.glif</string>
	<key>glyph00084</key>
	<string>glyph00084.glif</string>
	<key>glyph00085</key>
	<string>glyph00085.glif</string>
	<key>glyph00086</key>
	<string>glyph00086.glif</string>
	<key>glyph00087</key>
	<string>glyph00087.glif</string>
	<key>glyph00088</key>
	<string>glyph00088.glif</string>
</dict>
</plist>
