<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="/static/js/Snap.svg-0.4.1/dist/snap.svg-min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/p5.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>{{ header }}</h1>
    <div id="menu">
      <a href="/index">Home</a><br>
      <a href="/input">Input</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div id="drawing">{% include "dog.svg" %}</div>
    {% block content %}{% endblock %}
    <script language="javascript" type="text/javascript" src="/static/js/draw.js"></script>
  </body>
</html>