<!doctype html>
<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>cartoonist</title>
    {% endif %}
    <link href="/static/styles.css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="/static/js/Snap.svg-0.4.1/dist/snap.svg-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
  </head>
  <body>
    <h1>{{ header }}</h1>
    {% if menu %}
    <div id="menu">
    <section class="link-braces">
      <a href="/">&#8635;</a>
    </section>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
    <div id="pythonSVGWRITE">{{ svgwrite }}</div>
    <script language="javascript" type="text/javascript" src="/static/js/draw.js"></script>
  </body>
</html>