<!doctype html>
<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>cartoonist</title>
    {% endif %}
    <script>
      var captionLines = {{ lines|safe }};
      var tilt = {{ tilt|safe }};
    </script> 
    <link href="/static/styles.css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="/static/js/Snap.svg-0.4.1/dist/snap.svg-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
  </head>
  <body>
    <h1>{{ header }}</h1>
    {% if menu %}
    <div id="menu">
      <a href="/index">home</a><a href="/input">enter keyword</a>
    </div>
    {% endif %}
    {% if buttons %}
    <div class="button-container">
      <ul>
        <li>
          <input type="radio" id="f-option" name="selector" onclick="handleClick(this);" value="1">
          <label for="f-option">dog</label>
    
          <div class="check"></div>
        </li>
  
        <li>
          <input type="radio" id="s-option" name="selector" onclick="handleClick(this);" value="2">
          <label for="s-option">generate face</label>
    
          <div class="check"></div></div>
        </li>
      </ul>
    </div>
    {% endif %}
    <div id="pythonSVG">{{ svg }}</div>
    <div id="pythonSVGWRITE">{{ svgwrite }}</div>
    {% block content %}{% endblock %}
    <script language="javascript" type="text/javascript" src="/static/js/draw.js"></script>
  </body>
</html>