<!doctype html>
{% extends "base.html" %}

{% block content %}

  {% if save %}
    <div id="save-with-post">
      <form name="savetestform" action="/screenshot" method="post">
      {{ save_form.hidden_tag() }}
      {{ save_form.svg_data }}
      <section class="link-braces">
        <button id="savecartoon" name="save" type="submit" value="done">&DownArrowBar;</button>
      </section>
          {% for error in save_form.svg_data.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
    </form>
    </div>
    <div id="save">
    <p>
      <button id="SVGsave">Save SVG</button>
    </p>
  </div>
  {% endif %}
{% endblock %}